ul {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.top-header {
    display: flex;
    background-color: #eceef4;
    justify-content: space-around;
    min-height: 63px;
    align-items: center;
    text-decoration: none;

}
.top-header-nav {
    display: flex;
}
.nav-item {
    display: flex;
    margin: 4px;
    border-radius: 2px;
    height: 32px;
    width: 100px;
    align-items: center;
    justify-content: space-around;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    color: #6d6e71;
    text-decoration: none;
    text-align: center;
    background-color: #fff;
}
.nav-item:hover {
    background-color: #0000;
}
.fa-file-alt {
    height: 10px;
    width: 15px;
}
.social-network {
    display: flex;
    height: 63px;
    width: 259px;
    align-items: center;
    justify-content: space-around;
}
.social-icon {
    font-size: 21px;
    height: 21;
    margin-top: 21px;
}

.custom-icon{
    font-size: 21px;
    height: 21px;
}
.social-container {
    text-align: center;
    height: 63px;
    width: 65px;
    border-right: 1px solid #dee0e6;
}
.social-container:first-child {
    border-left: 1px solid #dee0e6;
}
.social-icon:hover {
    color: #000000;
}
.facebook {
    color: #2b75b2;
}
.twitter {
    color: #1faae2;
}
.instagram {
    color: #26658e;
}
.googleplus {
    color: #dd4070;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 220px;
    border-bottom: 1px solid #eceef4;
}
.logo-text {
    text-align: center;
    color: #3687c4;
    font-size: 41px;
    font-weight: 500;
    background-image: url('../images/logo.png');
    width: 30%;
    background-size: contain;
    background-repeat: no-repeat;
}
.header-logo {
    position: absolute;
}
.header-contact {
    justify-content: space-between;
    position: relative;
    color: #6d6e71;
    font-size: 16px;
    font-weight: 300;
}
.contact-text {
    position: absolute;
    padding-left: 15%;
}
.contact-nav {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}
.contact-icon {
    color: #6d6e71;
}
.contact-icon:hover {
    color:#1faae2;
}
.contact-icon-border {
    border-left: 1px solid #bcbec3;    
    border-right: 1px solid #bcbec3;  
    padding: 0 22px;  
}
.header-nav-menu {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    color: #6d6e71;
}
.header-nav {
    display:flex;
    justify-content: space-evenly;
}

.menu-item {
    border-right: 1px solid #eceef4;
    background-color: none;
    padding: 35px 20px;
    margin: 0;
    float: left;
    font-size: 13px;
    height: 10px;
    width: auto;
}
.menu-item:hover {
    color:#1faae2;
    border-bottom: 2px solid #1faae2;
}
.menu-container {
    border-right: none;
}


.header-search {
    display: flex;
    align-items: center;
    font-size: 25px;
}
.search {
    border: none;
    padding-left: 5px;
}
.main-container {
    align-items:center;
    display: flex;
    width: 100%;
    height: 885px;
    background-image: url(../images/iback.png);
    background-size: contain;
    background-repeat: no-repeat;
    flex-direction: column;
}
.main-text {
    font-size: 58px;
    font-weight: 700;
    color: #ffffff;
    margin:0;
}